
<footer>
    <div class="row">
        <div class="container">
            <div class="col-md-4 footer-company-logo">
                <div class="footer-logo">
                    <img src="/images/sanofilogo.png" alt="Sanofi Logo" title="Sanofi Genzyme">
                </div>

                <div class="footer-logo-link">
                    <a href="http://www.cerdelga.com/" class="anchor-btn" target="_blank">Visit the Cerdelga<sup>®</sup> website</a>
                </div>
            </div>

            <div class="col-md-8 footer-details">

                <div class="row">
                    <div class="col-md-12 adverse-details">
                        <p>
                            <span class="inverted-triangle">▼</span>Cerdelga® (eliglustat) is subject to additional monitoring. This will allow quick identification of new safety information. Reporting any suspected adverse reactions is important for the continued monitoring of the benefit/risk balance of all medicinal products.
                            You are asked to report any suspected adverse reactions via the appropriate national reporting system and contact Sanofi Genzyme.
                        </p>

                        <p>
                            <strong>In the UK:</strong> Yellow Card Scheme.<a href="http://www.mhra.gov.uk/yellowcard" target="_blank" title="MHRA Gov Yellowcard">www.mhra.gov.uk/yellowcard</a>. Suspected adverse reactions should also be reported to Sanofi Genzyme.
                            Tel: +44 (0) 800 090 2314. Alternatively, send via E-mail to: <a href="mailto:uk-drugsafety@sanofi.com" title="Uk Drug Safety"> UK-drugsafety@sanofi.com</a>
                        </p>

                        <!--<p>
                            <strong>In Ireland:</strong> HPRA Pharmacovigilance, Earlsfort Terrace, IRL - Dublin 2. Tel: +353 1 6764971; Fax: +353 1 6762517.
                            Website:<a href="http://www.hpra.ie" target="_blank" title="HPRA Ireland"> www.hpra.ie</a>. E-mail:<a href="mailto:medsafety@hpra.ie" target="_blank" title="med Safety Ireland"> medsafety@hpra.ie</a>.
                            Suspected adverse reactions should be reported to Sanofi Genzyme: Tel: +353 1 403 5600. Alternatively, send via E-mail to:<a href="mailtol:IEPharmacovigilance@sanofi.com" title="IE Pharmacovigilance Sanofi"> IEPharmacovigilance@sanofi.com</a>
                        </p>-->
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="post-footer">
        <div class="row">
            <div class="container">
                <div class="col-md-5 post-footer-left">
                    <ol>

                        <li class="col-md-12"><a href="#">Contact Us</a> If there are problems with the site </li>
                    </ol>

                    <div class="post-footer-copyright">
                        <p>Copyright © 2016 Genzyme Corporation. All rights reserved.</p>
                    </div>

                </div>
                <div class="col-md-7 post-footer-right">
                    <ol>
                        <li><a href="#" class="prescribing">UK Prescribing Information</a></li>
                        <li><a href="#" class="privacy">Privacy Policy</a></li>
                        <li><a href="#" class="terms">Terms and Conditions</a></li>
                        <li><a href="#" class="cookie">Cookie Policy</a></li>
                    </ol>

                    <div class="post-footer-jobcode">
                        <p>GZUK.CERD.17.03.0181m. Date of preparation: September 2017</p>
                        <p>Last updated: 13/09/2017</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>