<script>
    (function(){
        console.info('Hello World');
    }());
</script>
<header>
    <div class="row">
        <div class="container">
            <div class="col-md-3 logo">
                <h1>
                    <a href="/">
                        <img src="/images/logo.png" alt="Cerdelga Live" title="Back to Home">
                    </a>

                </h1>
            </div>

            <div class="col-md-6 header-title">
                <h3>
                    Cerdelga<sup>®</sup> Life
                    <p>This website is intended for use by UK healthcare professionals only</p>
                </h3>
            </div>

            <nav class="col-md-3 header-nav hide-me">
                <ol>
                    <li class="profile-link">
                        <a href="#" title="View Profile" class="link-profile" data-id="0">Jane</a> <!--Get the Data-id from login signup assign-->
                    </li>
                    <li class="logout-link">
                        <a href="/" title="Logout" class="link-logout">Log out</a>
                    </li>
                </ol>
            </nav>
        </div>
    </div>
</header>
{{!-- 
<header>
    {{title}}
</header> --}}