<header class="navbar navbar-expand navbar-dark bg-dark  ">
  <div class="bg-dark">
    <ul class="nav">
      <li class="nav-item">
        <a routerLink="home" routerLinkActive="active" class="nav-link">Home</a>
      </li>
      <li class="nav-item">
        <a routerLink="create" routerLinkActive="active" class="nav-link">Add Coins</a>
      </li>
      <li class="nav-item">
        <a routerLink="about" routerLinkActive="active" class="nav-link">About</a>
      </li>
    </ul>
  </div>
  <!-- Navigation -->

</header>
<section class="jumbotron text-center">
  <div class="container-fluid">
    <h2 class="jumbotron-heading">{{title}}</h2>
  </div>

</section>
<div class="container-fluid">
  <router-outlet></router-outlet>
</div>
